<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027032251330-u37lkhqcosida6rdo8j5frecj2s9f9oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027032251330-u37lkhqcosida6rdo8j5frecj2s9f9oi</string>
	<key>API_KEY</key>
	<string>AIzaSyAfh4Euy4SXAmHLghbGJTSNLo6CwfyO150</string>
	<key>GCM_SENDER_ID</key>
	<string>1027032251330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.akbarimandiwholesale</string>
	<key>PROJECT_ID</key>
	<string>akbarimandiwholesale</string>
	<key>STORAGE_BUCKET</key>
	<string>akbarimandiwholesale.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027032251330:ios:3524bea4bad4ce89aff45b</string>
</dict>
</plist>